{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block links %}

{% endblock %}

{% block title %}
  Parolni almashtirish
{% endblock %}

{% block content %}
  <div class="container">
    <h2 class="text-center p-5">Parolni o'zgartirish</h2>
    <form class="card p-5 m-5" method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-center">
        <a class="btn btn-warning p-2 m-3" href="{% url 'accaunt:home' %}">Bekor qilish</a>
        <button class="btn btn-success p-2 m-3" type="submit">Parolni saqlash</button>
      </div>
    </form>
  </div>
{% endblock %}
